name: Keep App Awake

on:
  schedule:
    - cron: "0 */10 * * *" # Runs every 10 hours
  workflow_dispatch: # Allows manual run

permissions:
  contents: write

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Keep Alive Commit
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git commit --allow-empty -m "Keep alive: Periodic ping"
          git push origin main
